<div class="modal fade" id="assignDonor">

    <div class="modal-dialog modal-lg">

        <div class="modal-content p-4">

            <h4 class="text-center">تعيين متبرع</h4>

            <hr />

            <div class="row">

                <div class="col-md-6">

                    <p>رقم الطلب: REQ-001</p>
                    <p>اسم المستفيد: أحمد علي</p>
                    <p>الفصيلة: AB+</p>

                </div>

                <div class="col-md-6">

                    <h5>المتبرعين</h5>

                    <div class="d-flex align-items-center mb-3">

                        <img src="/images/user.png" width="40" />

                        <div class="ms-3">
                            <p>أحمد علي</p>
                            <button class="btn btn-danger btn-sm">تعيين</button>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>