<div class="modal fade" id="detailsModal">

    <div class="modal-dialog modal-lg">

        <div class="modal-content p-4">

            <h4 class="text-center">طلب دم</h4>

            <hr />

            <div class="row">

                <div class="col-md-6">

                    <p>نوع الفصيلة: AB+</p>
                    <p>رقم الهاتف: 012229301343</p>
                    <p>الأمراض: القلب</p>
                    <p>النوع: ذكر</p>

                </div>

                <div class="col-md-6">

                    <p>رقم الطلب: REQ-001</p>
                    <p>اسم المستفيد: أحمد علي</p>
                    <p>المستشفى: القصر العيني</p>
                    <p>الموعد المحدد: 2025-10-25</p>

                </div>

            </div>

            <div class="text-center mt-4">

                <button class="btn btn-outline-danger">رفض</button>
                <button class="btn btn-success">قبول</button>

            </div>

        </div>

    </div>

</div>